<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}

    <!-- Main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/image_4.png" alt="tirth" class="img-fluid" title="Tirth">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome Weather App </p>
                        <h1> I am an <span> IITIAN </span> , Machine Learning Engineer and Backend Developer. </h1>
                        <a href="https://www.linkedin.com/in/tirth-bhimani-9781a31b2/" target="_tirth">
                            <button>About Me</button>
                        </a>
                    </div>
                    <!-- Right Side Div -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    {{>footer}}
</body>
</html>